<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <p *ngFor="let item of charts">
    <app-d-chart [dcharts]="item"></app-d-chart>
  </p>

  <!--<ngx-charts-bar-vertical-->
    <!--[results]="data.results"-->
    <!--[view]="data.view"-->
    <!--[scheme]="data.colorScheme"-->
    <!--[gradient]="data.gradient"-->
    <!--[xAxis]="data.showXAxis"-->
    <!--[yAxis]="data.showYAxis"-->
    <!--[legend]="data.showLegend"-->
    <!--[showXAxisLabel]="data.showXAxisLabel"-->
    <!--[showYAxisLabel]="data.showYAxisLabel"-->
    <!--[xAxisLabel]="data.xAxisLabel"-->
    <!--[yAxisLabel]="data.yAxisLabel"-->
  <!--&gt;</ngx-charts-bar-vertical>-->

  <!--<ngx-charts-bar-vertical-->
    <!--[view]="data.view"-->
    <!--[scheme]="data.colorScheme"-->
    <!--[results]="data.results"-->
    <!--[gradient]="data.gradient"-->
    <!--[xAxis]="data.showXAxis"-->
    <!--[yAxis]="data.showYAxis"-->
    <!--[legend]="data.showLegend"-->
    <!--[showXAxisLabel]="data.showXAxisLabel"-->
    <!--[showYAxisLabel]="data.showYAxisLabel"-->
    <!--[xAxisLabel]="data.xAxisLabel"-->
    <!--[yAxisLabel]="data.yAxisLabel"-->
  <!--&gt;-->
  <!--</ngx-charts-bar-vertical>-->
</div>

