<ngx-charts-bar-vertical
  [results]="data.results"
  [view]="data.view"
  [scheme]="data.colorScheme"
  [xAxis]="data.showXAxis"
  [yAxis]="data.showYAxis"
  [xAxisLabel]="data.xAxisLabel"
  [yAxisLabel]="data.yAxisLabel"
  [legend]="data.showLegend"
  [legendTitle]="data.legendTitle"
  [legendPosition]="data.legendPosition"
  [showXAxisLabel]="data.showXAxisLabel"
  [showYAxisLabel]="data.showYAxisLabel"
  [showGridLines]="data.showGridLines"
  [trimXAxisTicks]="data.trimXAxisTicks"
  [trimYAxisTicks]="data.trimYAxisTicks"
  [rotateXAxisTicks]="data.rotateXAxisTicks"
  [maxXAxisTickLength]="data.maxXAxisTickLength"
  [maxYAxisTickLength]="data.maxYAxisTickLength"
  [showDataLabel]="data.showDataLabel"
  [yScaleMax]="data.yScaleMax"
  [noBarWhenZero]="data.noBarWhenZero"
  [roundDomains]="data.roundDomains"
  [roundEdges]="data.roundEdges"
  [tooltipDisabled]="data.tooltipDisabled"
  [gradient]="data.gradient"
  [customColors]="data.customColors"
  [animations]="data.animations"
></ngx-charts-bar-vertical>


<!--[schemeType]="data.schemeType"-->
<!--[barPadding]="data.barPadding"-->

